.gallery {
  .image-top {
    .image-4 {
      width: 15vw;
      height: 35vh;
      object-fit: cover;
    }
    .image-1 {
      width: 50vw;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -15rem;
        right: 0;
        height: 50vh;
        width: 35vw;
        background: linear-gradient(
          0deg,
          rgba(255, 0, 0, 0.5),
          rgba(255, 0, 0, 0.7)
        );
        z-index: 2;
      }
    }
  }
  .image-bottom {
    margin-top: 3vw;
    .image-2 {
      width: 20vw;
      margin-right: 3vw;
    }
    .image-3 {
      width: 50vw;
    }
    .texts {
      margin-top: 3rem;
      h6{
        position: relative;
         &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 3px;
        width: 20%;
        background-color: var(--secondary-color);
        border-radius: 20px;
      }
      }
    }
  }
}
@media (max-width: 1200px) {
  .gallery {
    .image-top {
      .image-4 {
        width: 17vw;
        height: 20vh;
        object-fit: cover;
      }
      .image-1 {
        &::after {
          bottom: -12rem;
          height: 40vh;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .gallery {
    .image-top {
      .image-4 {
        width: 17vw;
        height: 17vh;
        object-fit: cover;
      }
      .image-1 {
        &::after {
          bottom: -10rem;
          height: 30vh;
        }
      }
    }
    .image-bottom {
      .texts {
        margin-top: 1rem;
        .content {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .gallery {
    .image-top {
      .image-4 {
        width: 15vw;
        height: 12vh;
        object-fit: cover;
      }
      .image-1 {
        &::after {
          bottom: -7rem;
          height: 20vh;
        }
      }
    }
    .image-bottom {
      .texts {
        margin-top: 1rem;
        .content {
          h6 {
            font-size: 18px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .gallery {
    .image-top {
      display: flex;
      justify-content: space-evenly;
      .image-4 {
        width: auto;
        height: 20vw;
        object-fit: cover;
      }
      .image-1 {
        margin-right: 3vw;
        &::after {
          bottom: -10vw;
          height: 25vw;
        }
      }
    }
    .image-bottom {
      display: flex;
      justify-content: space-evenly;
      .image-2 {
        width: 25vw;
      }
       .texts {
        margin-top: 5rem;
        width: 70vw;
        .content {
          h6 {
            font-size: 20x;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
