.navbar {
  .logo {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-colo-red);
  }
  .left-menu {
      font-size: 30px;
    .menu {
      font-size: 30px;
      margin-left: 1rem;
    }
  }
}
