.home-service {
  margin: 5rem 0;
  .service-title {
    text-align: right;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    h5 {
      color: var(--text-secondary);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 1rem;
      right: auto;
      width: 73vw;
      left: 0;
      // margin-left: auto;
      height: 1px;
      background-color: var(--text-secondary);
    }
  }
  .single {
    .image-icon {
      width: 70px;
    }
    .texts {
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
        line-height: 27px;
      }
    }
  }
}
@media (max-width: 992px) {
  .home-service {
    .service-title {
      &::after {
        width: 60vw;
      }
    }
    .single {
      .texts {
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .home-service {
    .service-title {
      &::after {
        width: 55vw;
      }
    }
    .single {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 4rem;
    }
  }
}
